/* !
Globe.css
Description: contains all styles of elements, in respect of mobile-first design.
Version: v0.2-beta.5
Date updated: 4th Aug 2016
Package: moran
Theme URI: https://github.com/kaeid/moran.wp
Author: Kareem Eid
Author URI: http://kaeid.io
Text Domain: moran
License: GPL-2.0+
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*

  GLOBAL
--------------*/
html {font-size:87.5%;}
body {font-family:'Open Sans', sans-serif;}
h1, h2, h3, h4, h5, h6, a, li, form {font-family:'Oswald', sans-serif}
h1 {font-size:32px;font-size:2rem}
h2 {font-size:26px;font-size:1.625rem}
h3 {font-size:21px;font-size:1.313rem}
h4 {font-size:18px;font-size:1.125rem}
h5 {font-size:16px;font-size:1rem}
h6 {font-size:14px;font-size:0.875rem}
p {margin:0 0 1.75em; line-height:1.6em;}
a {color:#101010}

/*--------------
  GRID
--------------*/
.site_container {overflow: hidden}
.container {}
.main_container {margin:90px 3% 30px;transition: all linear .2s}
.home .main_container {margin-top:175px}
.overlay_container {/*margin:0 5%;*/height:100%}
.widget_container {display: flex;align-items: center}
.row {width:100%;position:relative}
.row:after, .sidebar-header:after, .form-row:after, .article_header:after,#wpas-results-inner:after {content:"";display:table;clear:both}
.col-overlay {width:46%;margin:0 2%}
/*-------------
  Modifiers
--------------*/
.is-overlay {overflow:hidden}
.inline {display:block;float:left}
.widget_item p {margin-bottom:0}
.hidden {display:none;}

/*--------------
  HEADER
--------------*/
header{position:fixed;z-index:1000;width:100%;top:0;left:0;transition: all .2s ease}
header {}
header [class^="header_"]:not(.header_callables) {float:left;padding:.5em .35em}
html.is-overlay body.has-full header {bottom:0}
.header-row {z-index:1000 }

.header_branding {width:65%;background:#101010}
.hidden-sidebar .header_branding, .has-sidebar .header_branding {width:64%}
.header_navigation {width:35%;background:#1034a6}
.hidden-sidebar .header_navigation, .has-sidebar .header_navigation {width:36%}
.header_navigation .inline {float:right!important}
.ctrl-btn {width:35px;height:35px;display:block;text-align:center;overflow: hidden;line-height:35px;}
.ctrl-btn .btn {display:block;color:rgba(255, 255, 255, 0.8);font-size:1.5rem;cursor: pointer;transition: all .2s ease}
.ctrl-btn .btn:hover {color:#fff}


.branding_switch {background:#fff}
.btn_lang a {text-transform: uppercase;font-size:1.2rem;font-weight: bold;display:block}
.btn_lang a:hover {color:#405db8}
body:not(.rtl) .btn_lang a {font:normal 2.275rem/35px 'Bstyle', arial}
.branding_site {height:35px;overflow:hidden}
.branding_site .logo {display:block;max-width:115px;height:auto}
.branding_switch span {color:#101010}
.navigation_menu {position: relative}
.navigation_menu .menu_title {position: absolute;bottom: 0;font-size: 0.75rem;color: #fff;text-align: center;right: 0;left: 0;display: none;}
.navigation_menu:hover .menu_title {display: block}
.is-overlay .menu_title {display:none!important}
.is-overlay .header_sidebar-control span {display: none}

.top_btn {display:none;background:#101010;position:fixed;right:2%;bottom:2%;z-index:99}
.top_btn span {color:#fff}
.top_btn span:hover {color:#405db8}

/*--------------
  NAVIGATION / Menu (overlay)
--------------*/
body.has-full .btn_full-menu {margin-top:-35px}

.header_overlay {position: absolute;top:35px;background:#fff;width:100%;height:100%;transition: opacity .2s ease-in-out, top .3s ease-in-out;opacity: 0;visibility: hidden}
body.has-full .header_overlay {opacity:1;visibility: visible;top:calc(35px + 1em)}

.overlay_full-menu {height: 60%;display: flex;align-items: center;width: 100%;position: relative}
.overlay_full-menu:after {position: absolute;width:35%;top:0;right:0;height:100%;background:rgba(16,52,166,0.05)}
.overlay_full-menu .nav-cat_menu {/* display:block; *//* height:100%; */width: 100%;}

.overlay_full-menu li {padding:0 5%}
.overlay_full-menu a {font-size:3.2vmax;font-weight: bold}
.overlay_full-menu a:after {position:absolute;top:0;right:-100%;width:35%;height:100%;background-size:cover;overflow: hidden;transition: right .3s cubic-bezier(.215,.61,.355,1) .2s}
.header_overlay a:hover {color:#1034a6}
.overlay_full-menu a:hover:after {right:0}

.overlay_full-info {height:40%;background:#f3f5fb;color:#4864bb}
.overlay_full-info a {color:#4864bb}
.info_social, .info_credit {padding:2%;border-top:8px solid #fff}
.info_social {text-align: center}
.info_credit {font-size:0.875em}


/*--------------
  NAVIGATION / Search (overlay)
--------------*/
body.has-search {overflow: hidden}

.search_overlay {position: fixed;top:0;width:100%;height: 100%;z-index: 1001;background:#fff;transition: opacity .2s ease-in-out;opacity: 0;visibility: hidden;overflow: auto;}
body.has-search .search_overlay {opacity:1;visibility: visible;}
.overlay_full-search {height: 100%;}

.search-header {position:fixed;right:0;left:0;top:0;background:#fff;z-index: 1000}
.search_field .search_btn span {color:#101010}
.search_field .search_btn:hover .btn_search {margin-top: -35px}
.search_field .search_btn:hover .btn {color:inherit}
.search_field {background:#101010;width:65%;padding:.5em .35em}
.search_results {padding:.5em .35em;background:#1034a6;width:35%;color:#fff;line-height: 35px;text-align: right}
.search_results h6 {margin: 0}
.search_results span {font-weight: bold;}
.search_field input {border-bottom: 1px solid;font-size:0.975rem;font-weight:bold;width:calc(100% - 35px);height:35px;transition:all linear .2s;padding:.5em 1em;color: #fff;}
.search_field input:focus {border-color:#4864bb}

.overlay_full-search .form_filters {width:100%;padding-top:1%;padding-bottom:1%}
.filters_header {color:#404040;transition: color linear .2s;padding:15px 10px;line-height: 1.4}
.filters_header.opened {color:#b7b7b7}
.filters_title {margin:0;display: inline-block}
.filters_icon {font-size: 1.4rem;float:right;margin:0 10px}
.filters_body {display: none}
.form_filters .form-field {position:relative;margin-bottom:10px}
.form_filters select {width:calc(100% - 20px);border:1px solid #4864bb;color:rgba(0, 0, 0, 0.8);appearance:none;-webkit-appearance:none;-moz-appearance:none;padding:0 10px;height:40px;line-height: 40px;margin:0 10px}
.form_filters option:focus {outline: none}
.form_filters option:first-child {color:rgba(0, 0, 0, 0.5);}
.form-field .field_icon {position: absolute;right: 20px;bottom: 0;line-height: 40px;font-size: 1.4em;z-index: -1;color:#4864bb}

.tax_field .field_items div {margin:0 5px;text-align: center;background:#f3f5fb;color:#4864bb;border-bottom:1px solid #fff;height:40px;line-height: 40px}
.tax_field .field_items div:hover {background: #e0e7ff}
.tax_field .field_items div.selected {background:#4864bb;color:#f3f5fb}
.form_filters .tax_field input {display: none;width:100%}
.form_filters .tax_field label {display:block;padding:0 5px}
.form_filters .tax_field .field_items {font-size:1.6rem}

.search-body{margin: 135px 3% 5%;background:#fff;overflow:auto}


/*--------------
  NAVIGATION / Categories
--------------*/
.main_categories {display:none;position:absolute;width:65%;left:0;top:calc(55px + 1.7em);bottom:60px;}
.categories_title {color:#fff;z-index:0;bottom:0;left:0;margin:0;font-weight: normal;width:100%;position: absolute;line-height: 0.8;display: none}
.categories_nav {height:100%;}
.categories_nav .nav-cat_menu {height:100%;}
.categories_nav .nav-cat_menu:after {content:"";position:absolute;right: 66.666%;height: 100%;width: 1px;background:rgba(183, 183, 183, 0.4);z-index: -1;top: 0;}
.categories_nav .nav-cat_menu:before {content:"";position:absolute;right: 33.333%;height: 100%;width: 1px;background:rgba(183, 183, 183, 0.4);}
.categories_nav li {width:100%;height: 33.333%;position:relative;}
.categories_nav li:after {content:"";position:absolute;bottom:0;height: 1px;width: 100%;background:rgba(183, 183, 183, 0.4);z-index: -1;}
.categories_nav a {display:block;color:#fff;font-weight:normal;height: 100%;font-size:1.2rem;font-weight:bold;transition:margin linear .2s;position: relative;width: 66.666%;overflow:hidden}
.categories_nav a:after {content:"";background-size: cover;background-repeat: no-repeat;height: 100%;transition: all .5s;position: absolute;left:50%;bottom:-100%;z-index:-1;width: 50%;}
.categories_nav span {height: 100%;display: flex;position: absolute;width: 50%;background:transparent;text-align: center;align-items: flex-end;color:#fff;transition: all .2s linear;padding: 3% 2%;}
.categories_nav span:after {content: "";width: 20%;right: 0;height: 10px;background: #fff;position: absolute;bottom: 0;transition:width .2s ease-in-out}
.categories_nav .nav_icon {font-size:1.2rem;position: absolute;left:0;top:0;right:0;;bottom:0;display: block;line-height: 0;color:#fff}
.categories_nav .nav_icon:after {content:"";position: absolute;top:0;left:0;width:100%;height:100%;transition: border-width ease-in-out .2s, background .2s ease-in-out;z-index: -1;}

.categories_nav a:hover:after {bottom: 0;}

.nav-cat_menu .house a:after {background-image:url('../img/cat-menu_house.jpg');}
.nav-cat_menu .service a:after {background-image:url('../img/cat-menu_service.jpg');}
.nav-cat_menu .plan a:after {background-image:url('../img/cat-menu_plan.jpg');}

.categories_nav a:hover i:after {background: #4864bb;}
.categories_nav a:hover span:after {width:0}

/*--------------
  MAIN
--------------*/
.social-profile {font-size:2.75rem;}
.social-profile li {margin:0 5px;display: inline-block}
.social-profile a {display:block;}
.social-profile .facebook a:hover, .social-share .facebook a:hover {color:#3b5998}
.social-profile .twitter a:hover, .social-share .twitter a:hover {color:#00aced}

.widget_credit-icon {font-size:2em}
.widget_credit-icon i {margin: 0 3px}
.widget_credit .widget_item {display:inline-block;vertical-align: middle}

/*--------------
  ARTICLE
--------------*/
article {}
.featured_article-body p(:not):only-child {font-weight:bold;font-size:1.2em}
.btn_read-more {border:1px solid #b7b7b7;display:inline-block}
.btn_read-more a {display: block;padding:3px 8px;font-weight:bold;}
.btn_read-more:hover a {background:#1034a6;color:#fff!important}


/*--------------
  ARTICLE / Featured
--------------*/
.article_featured {z-index: 50;padding: 2%;background: #fff;}.featured_title {color:#b7b7b7;font-weight:normal}
.featured_title, .featured_article-title {margin:0;}
.featured_article-body {border-bottom:8px solid #101010;padding:1rem;position:relative;background:#fff}
.featured_article-body:after {content:"";position:absolute;background:#1034a6;height:8px;width:0;bottom:-8px;left:0;transition: width .3s }
.featured_article-thumbnail {width:100%;position: absolute;top:calc(35px + 1em);left:0;overflow:hidden;z-index:-2}
.featured_article-thumbnail img {}
.featured_article:hover a {color:#1034A6}
.featured_article:hover .featured_article-body:after {width:100%}
.featured_article:hover .btn_read-more {border-color:#1034A6}

/*--------------
ARTICLE / Archive
--------------*/
.category_header {border-bottom:1px solid #d4d4d4}
.category_title {color:#1034a6}

.category_filter {margin-bottom:0.25em}

.category_filter .filters_title {font-weight:normal}
.category_filter a {color:#4864bb;padding:0 8px;background:#f3f5fb;display: block;border-bottom:1px solid #fff;text-align: center}
.category_filter .selected, .category_filter a:hover {color: #f3f5fb;background: #4864bb}

.body_main.grid {transition: all .3s linear;position:relative }

.category_article {float:left;position:relative;overflow: hidden;width:100%;margin:10px 0;}
.category_article.external {display:table;text-align:center}
.category_article:not(.external):hover {background:#1034a6}
.category_article:before, .category_article:after {content:"";height:8px;position:absolute;bottom:0;left:0;transition:width .3s linear}
.category_article:before {width: 100%;background:#404040;z-index:70}
.category_article:after {width:0;background:#3a56ae;z-index:80}
.category_article:hover:after {width:100%}
.category_article a {color:#404040}
.category_article:hover a {color:#fff}
.category_article.external:hover a,  .category_article.external:hover .category_article-icon {color:#1034a6}

.category_article-thumbnail {display:block;position:relative;height:280px;overflow:hidden;/*;height:280px;*/}
.category_article-thumbnail:after, .single_article-thumbnail:after {content: "";height:100%;width:100%;background:transparent;z-index:100;position:absolute;top:0;transition:background-color .3s;right:0;z-index: 100}
.category_article:hover .category_article-thumbnail:after{background:rgba(1,60,245,0.2)}
.category_article-thumbnail img {/*filter:grayscale(100%);-webkit-filter:grayscale(100%);*/z-index:99;position:absolute;right:0;left:0;top:0;bottom:0;margin:auto;display: block;width:100%;height:auto}

.category_article-text {padding:15px;height:auto;line-height: 1.4;}

.category_article-category {font-weight: normal;color:#B7B7B7}
.category_article.external .category_article-text {vertical-align: middle}
.category_article-body {font-size:81.25%;color:#9f9f9f}
.category_article-icon {font-size:2rem}

/*--------------
  ARTICLE / Single
--------------*/
.single_article-header, .single_article-body, .single_article-footer {margin-bottom:2.75em;padding-bottom:.75em}

.single_article-header {position: relative;overflow:hidden}
.single_article-text {right:0;top:0;padding:2%;z-index: 100}
.single_article-thumbnail {position:relative;}
.single_article-thumbnail:after {background:rgba(159, 159, 159, 0.2)}
.single_article-text span {background:#fff;padding:5px 10px}
.article_text-item {margin-bottom:0.75em}


.single_article-category h4 {display:inline-block;margin-right:-4px;font-weight: normal}
.single_article-category a {background:#1034a6;display: block;color:#fff;padding:5px 10px}
.single_article-category a:hover {background:#3a56ae}
.article_category-0 span {padding:0}
.single_article-title {margin-left:10px}
.single_article-title span {box-shadow:10px 0 0 0 #fff, -10px 0 0 #fff;padding: 0 }
.single_article-author {color:#404040}

.single_article-body {padding:0 5%}
.single_article table {font-size:0.875rem;border:2px solid;}
.single_article thead,.single_article tr:first-of-type {background:#101010;color:#fff;font-weight:bold}
.single_article td {border:1px solid;text-align:center;}
.single_article li {margin-bottom:.875em;font-weight:bold}
.single_article .article_endnote {display: inline-block;text-align: center}
.single_article a[href^='#_edn'] {color:#1034a6;display:block;font-weight:bold;}
.single_article a[href^='#_edn']:hover {color:#405db8}
.endnotes_title {border-bottom:1px solid;color:#404040;padding-bottom:.75em}
.endnotes_body {font-size:.75em}
.endnotes_body a, .endnotes_body li {margin:0 5px;word-break: break-word;font-weight: normal}
.single_article-body h3,.single_article-body h4{margin-top:}



.single_article-footer {border-top:1px solid;}
.article_widget {width:50%;text-align: center;float:left;padding:1em}
.article_widget [class$="-icon widget_item"], .widget_share-action a {font-size:3rem;color:#404040}
.article_widget.widget_tags {text-align: left}
.widget_download-action a {background:#405db8;color:#fff;display:inline-block;padding:3px 3em}
.widget_download-action a:hover {box-shadow:inset 3em 3em 0 rgba(255,255,255,0.2);}
.widget_tags-list li {background:#f1f1f1;padding:0 5px;font-size:81.75%;float:left;margin:0 0 10px 5px}
.widget_share-action li, .share_ctrl li{display: inline-block;margin:0 10px}

/*--------------
  SIDEBAR
--------------*/
.has-sidebar .toc_show-hide span {color:#fff}
.options-opened .options_show-hide span {color:#fff}

[class^="sidebar_"] {top:calc(35px + 1em);right:0;z-index: 101;position:fixed}
.sidebar-title {line-height:35px;margin:0 10px;}
.sidebar-body {color:#fff}
.sidebar-body li {border-bottom:1px solid rgba(255, 255, 255, 0.1);;padding:10px;}
.sidebar-body li:last-of-type {border:none}
.sidebar-body li:hover {background:rgba(35, 35, 35, 0.5);}
.sidebar-body li li:hover {background:transparent}
.sidebar-body a {color:#f1f1f1;font-size:1rem}
.sidebar-body span.option-title {font-size:.75rem}

.sidebar_toc {background:#000;left:0;transition: top .5s;}
.hidden-sidebar .sidebar_toc {top:-100%}


.toc_title {color:#405db8}
.toc_list li li {padding:0;border:none}
.toc_list li ul a {font-size:.875rem;color:rgba(255, 255, 255, .5);}
.toc_list li ul a:hover {color:#fff}


.sidebar_options {background:#0229a2;display:none;}
.options_title {color:#fff;text-align: left}
.option-ctrl {float:right}
.option-ctrl a {margin-left:5px;font-size:1.2rem;color:rgba(255, 255, 255, .8);line-height:0}
.option-ctrl a:hover, .option-ctrl a.selected {color:#fff!important}
.share_ctrl li {border:none;padding:0;margin:0;display:block;float:right}
.download_info.option-info {float:right}
/*--------------
  FOOTER
--------------*/
footer {background:#101010;position:relative;color:#fff;font-size:81.25%;z-index:999}
footer a {color:#fff}
footer a:hover {color:#3a56ae}

.footer_widget {position:relative;padding:25px 30px;}
.footer_widget:first-child {border-bottom:8px solid #fff}
.widget_item {z-index:101}

.widget_menu {/*padding-right:50%;*/text-align:right}
.menu-item-has-children a {font-weight:bold}
.menu-item-has-children ul a {font-weight:normal}
.widget_logo-text {color:#4c67bc;font:normal 4em/0.5 'Bstyle', Arial;position: absolute;top:20px;z-index:99;display:none}
.widget_container {border-bottom: 8px solid #fff}
.widget_container .footer_widget {border: none}
.widget_about {width:65%;border-right:8px solid #fff!important}
.widget_social-profiles {width:35%;text-align:center;padding:0}
.widget_social-profiles ul {display:block}
.widget_social-profiles li {display: inline-block;margin:0 10px}

/*--------------
  ADMIN
--------------*/

.logged-in header{top: 46px}
.logged-in [class^="sidebar_"] {top:calc(35px + 1em + 46px)}


/*--------------
  Reading Modifiers
--------------*/
.dark-mode_active {background:#101010;color:#fff}
.dark-mode_active header {background:rgba(0,0,0,0.95);}
.dark-mode_active .header_branding, .dark-mode_active .header_navigation {visibility: hidden}
.dark-mode_active [class^="control-"] {visibility: visible}
.dark-mode_active footer,.dark-mode_active .single_article-footer {display:none}
.dark-mode_active table, .dark-mode_active td {border-color:#fff}
.dark-mode_active thead,.dark-mode_active tr:first-of-type {background:#fff;color:#101010;}
.dark-mode_active .single_article-text span {background:#101010}
.dark-mode_active .single_article-title span {box-shadow:10px 0 0 0 #101010, -10px 0 0 #101010;}
.dark-mode_active .endnotes_title, .dark-mode_active article a {color:#fff}

#toc_container {display:none}
