/* !
Responsive.css
Description: show elements in different sizes, mostly largeer than 480px width.
version: 1.5
Date updated: 4th Aug 2016
Package: moran
Theme URI: https://github.com/kaeid/moran.wp
Author: Kareem Eid
Author URI: http://kaeid.io
Text Domain: moran
License: GPL-2.0+
License URI: http://www.gnu.org/licenses/gpl-2.0.html

  More than 768xp width
--------------*/

@media only screen and (min-width:769px){
  html {font-size:100%}  
}
