/* !
Responsive.css
Description: show elements in different sizes, mostly largeer than 480px width.
version: 1.5
Date updated: 4th Aug 2016
Package: moran
Theme URI: https://github.com/kaeid/moran.wp
Author: Kareem Eid
Author URI: http://kaeid.io
Text Domain: moran
License: GPL-2.0+
License URI: http://www.gnu.org/licenses/gpl-2.0.html

  More than 768xp width
----------------------------------------*/
@media only screen and (min-width:769px){
/*--------------
  GLOBAL
--------------*/
html {font-size:100%}
/*--------------
  GRID
--------------*/
.main_container {margin:135px 10% 60px}
.has-sidebar .main_container {margin:135px 10% 60px 20%}
.home .main_container {margin-top:250px}

.col-widget {float:left}
/*--------------
  HEADER
--------------*/
header [class^="header_"]:not(.header_callables) {padding:.85em 1em}
.branding_site {height:55px;}
.branding_site .logo {max-width:181.5px}
.ctrl-btn {width:55px;height:55px;line-height: 55px}

.home .header_categories {/*display:block;*/display:none}
.header_overlay {top:82px}
.toc_show-hide .btn_close {margin:0}
.hidden-sidebar .toc_show-hide .btn_close {margin-top:-55px}

body.has-full .btn_full-menu {margin-top:-55px}
body.has-search .btn_lang {margin-top:-55px}
body.has-search .branding_site .logo {margin-top: -55px}
.form_advanced-options {top: calc(55px + 1.7em)}
/*--------------
  ARTICLE / Featured
--------------*/
.article_featured {width:60%;margin: 0 auto}
.featured_article-thumbnail {top:calc(55px + 1.7em);}

/*--------------
  ARTICLE / Archive
--------------*/
.category_article {margin:10px;height:465px}
.category_article.focus {width:calc(66.666% - 20px);}
.category_article.external {display:table}
.category_article.external .category_article-text {display:table-cell}
.category_article-thumbnail {height:280px;}
.category_article.has_thumb .category_article-text {height:185px}
.category_article-body {font-size:87.5%}

/*--------------
  ARTICLE / Single
--------------*/
.single_article-thumbnail {max-width:75%;max-height:415px;overflow: hidden}
.has-thumb .single_article-text {position:absolute;max-width:50%}
.single_article-footer .row{display: flex}
.endnotes_body {column-count: 2;}

/*--------------
  SIDEBAR
--------------*/
[class^="sidebar_"] {top:calc(55px + 1.7em)}
.sidebar_toc {width:18%;height:100%;display:block;margin:0}
.hidden-sidebar .sidebar_toc {margin-top:0;margin-left:-100%}
.sidebar_options {width:15%}
.sidebar-title {line-height:55px}

/*--------------
  FOOTER
--------------*/
footer {font-size:87.5%}
.footer_widget:first-child {border:none}
.widget_menu {width:25%}
.widget_container, .footer_widget.widget_credit {border-left:8px solid #fff;width:75%;}
.footer_widget.widget_credit {float:right;}
.logged-in header{top: 32px}
.logged-in [class^="sidebar_"] {top:calc(55px + 1.7em + 32px)}
}

/*---------------------------------------
More than 768xp width
----------------------------------------*/
@media only screen and (min-width:769px) and (max-width: 979px){
.category_article {width:calc(50% - 20px)}
.category_article.focus {width:calc(100% - 20px);}
}
@media only screen and (min-width:979px){
.category_article {width:calc(33.333% - 20px);
}

/* ---------------------------------------
  Less than 480xp width
----------------------------------------*/
@media only screen and (max-width:480px){
table {overflow-x: auto;display: block;}
}
