/* !
RTL.css
Description: fix directions and output of elements to fit right-to-left language (more specfic: Arabic)
Version: v0.2-beta.5
Date updated: 4th Aug 2016
Package: moran
Theme URI: https://github.com/kaeid/moran.wp
Author: Kareem Eid
Author URI: http://kaeid.io
Text Domain: moran
License: GPL-2.0+
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*

BODY
--------------*/
body.rtl {font-family:'JF Flat Regular', Arial, sans-serif;}
.rtl h1,.rtl h2, .rtl h3, .rtl  h4, .rtl h5, .rtl h6,.rtl  a,.rtl  li,.rtl form {font-family:'Droid Arabic Kufi', sans-serif}

/*-------------
  Additional Selectors
--------------*/
.rtl .inline {float:right}

/*-------------
  GRID
--------------*/

/*--------------
  HEADER
--------------*/
.rtl header [class^="header_"]:not(.header_callables) {float:right}
.rtl .btn_lang a {font-family:'Oswald', sans-serif}
.rtl .header_navigation .inline {float:left!important}

.rtl .form_advanced-options .field-item {float:right}
.rtl .field-item .wpas-select {text-align: right}
.rtl .field-item .item {text-align: right!important}

.rtl .overlay_full-menu:after {left:0;right:inherit}
.rtl .overlay_full-menu a:after {left:-100%;right:inherit;transition-property: left}
.rtl .overlay_full-menu a:hover:after {left:0}

.rtl .main_categories {right:0;left:inherit}
.rtl .categories_nav a:after {right:50%;left:inherit}

.rtl .search_results {text-align: left}
.rtl .form-field .field_icon {left:20px;right:inherit}
.rtl .filters_icon {float:left}

/*--------------
  MAIN
--------------*/
.rtl .top_btn {left:2%;right:inherit}

/*--------------
  ARTICLE / Featured
--------------*/
.rtl .featured_article-body:after {right:0;left:inherit}
.rtl .featured_article-thumbnail {right:0;left:inherit}


/*--------------
  ARTICLE / Archive
--------------*/

.rtl .category_article {float:right}
.rtl .category_article:before, .rtl .category_article:after {right:0;left:inherit}

/*--------------
  ARTICLE / Single
--------------*/
.rtl .single_article-text {left:0;right:inherit}
.rtl .single_article-title {margin-right:10px;margin-left:inherit}
.rtl .article_widget {float:right}
.rtl .article_widget.widget_tags {text-align:right}
.rtl .download_info {direction:ltr}
.rtl .widget_tags-list li {float:right}

/*--------------
  SIDEBAR
--------------*/
.rtl [class^="sidebar_"] {left:0;right:inherit}
.rtl .sidebar_toc {right:0}

.rtl .options_header  {text-align: right}
.rtl .option-ctrl {float:left}
.rtl .option-ctrl a {margin-right:5px;margin-left:0}
.rtl .share_ctrl li {float:left}
/*--------------
  FOOTER
--------------*/
.rtl .widget_menu {text-align:left}
.rtl .widget_about {border-left:8px solid!important; border-right:none!important}
/* ---------------------------------------
  For media more than 768xp width
----------------------------------------*/
@media only screen and (min-width:769px){
  .rtl .article_featured {margin: 0 65% 0 0}
  .rtl.has-sidebar .main_container {margin:135px 20% 60px 10%}
  .rtl .col-widget {float:right}
  .rtl .overlay_full-info {margin-right:65%;margin-left: inherit}
  .rtl.hidden-sidebar .sidebar_toc {margin-right:-100%;margin-left:inherit}
  .rtl .footer_widget.widget_credit {float:left}
  .rtl .widget_container, .rtl .footer_widget.widget_credit {border-right:8px solid;border-left:none}
}
