/* !
RTL.css
Description: fix directions and output of elements to fit right-to-left language (more specfic: Arabic)
version: 1.5
Date updated: 4th Aug 2016
Package: moran
Theme URI: https://github.com/kaeid/moran.wp
Author: Kareem Eid
Author URI: http://kaeid.io
Text Domain: moran
License: GPL-2.0+
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*

BODY
--------------*/
body.rtl {font-family:'JF Flat Regular', Arial, sans-serif;}
.rtl h1,.rtl h2, .rtl h3, .rtl  h4, .rtl h5, .rtl h6,.rtl  a,.rtl  li,.rtl form * {font-family:'Droid Arabic Kufi', sans-serif}

/*-------------
  Additional Selectors
--------------*/
.rtl .inline {float:right}

/*--------------
  HEADER
--------------*/
.rtl header [class^="header_"]:not(.header_callables) {float:right}
.rtl .btn_lang a {font-family:'Oswald', sans-serif}
.rtl .header_navigation .inline {float:left!important}

/*--------------
  ARTICLE / Featured
--------------*/
.rtl .featured_article-body:after {right:0;left:inherit}

/*--------------
  ARTICLE / Archive
--------------*/
.rtl .category_article {float:right}
.rtl .category_article:before, .rtl .category_article:after {right:0;left:inherit}

/*--------------
  ARTICLE / Single
--------------*/
.rtl .single_article-text {left:0;right:inherit}
.rtl .single_article-title {margin-right:10px;margin-left:inherit}
.rtl .article_widget {float:right}
.rtl .article_widget.widget_tags {text-align:right}
.rtl .widget_download-info {direction:ltr}
.rtl .widget_tags-list li {float:right}

/*--------------
  SIDEBAR
--------------*/
.rtl .option-ctrl {float:left}
.rtl .option-ctrl a {margin-right:5px;margin-left:0}
.rtl .share_ctrl li {float:left}

/*--------------
  FOOTER
--------------*/
.rtl .widget_menu {text-align:left}
.rtl .widget_about {border-left:8px solid!important; border-right:none!important}
